/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


:root {
  --color-primary: #023047;
  --color-secondary: #219ebc;
  --color-accent: #8ecae6;

  --width-min: 695px;
  --width-max: 100%;

  --height-min: 250px;
  --height-max: 40%;

  --font-size-quote: 1.2rem;
  --font-size-icon: 3rem;
  --font-size-author: 1rem;

  --color-font-primary: #ffffff;
  --color-font-secondary: #c7c7c7;
}

.wp-block-dark-quote-d-inline-block {
  display: inline-block;
}

/*  Container  */

.wp-block-dark-quote-container {
  width: var(--width-min);
  height: var(--height-min);
  padding: 38px;
  background-color: var(--color-primary);
}

/*  Quote  */

.wp-block-dark-quote-quote span,
.wp-block-dark-quote-quote p {
  color: var(--color-font-primary);
}

.wp-block-dark-quote-quote span {
  font-size: var(--font-size-icon);
}

.wp-block-dark-quote-quote p {
  margin: 10px 0 0 calc(2rem + 20px);
  text-align: justify;
  font-size: var(--font-size-quote);
  color: var(--color-font-primary);
}

/*  Author  */

.wp-block-dark-quote-author p {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: var(--font-size-author);
  color: var(--color-font-secondary);
}

.wp-block-dark-quote-author p::before {
  content: "—";
  margin-right: 13px;
}

